@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;

  margin: 0;

  box-sizing: border-box;

  transition: 0.4s ease-in-out;
}

body {
  font-family: Rubik, sans-serif;
  background: #ffff;

  width: 100%;

  height: 100vh;

  -webkit-tap-highlight-color: transparent;

  transition: 0.4s ease-in-out;
}

button {
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;



  font-size: 16px;

  border: none;

  border-radius: 10px;

  cursor: pointer;

  transition: 0.4s ease-in-out;
}

#yes:active {
  background: #a8529e;
}

#no:active {
  background: #13030e;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#yes {
  background-color: #94418c;

  color: white;
}

#no {
  background-color: #4b1639;

  color: white;
}

#yay {
  display: none;

  font-weight: 900;

  font-size: 20px;
}

#yay1 {
  display: none;

  width: 50vh;

}

#can1 {
  width: 50vh;

  display: block;
}

#can {

  margin:2vh;

  font-weight: 600;

  display: block;
}

